
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

body::-webkit-scrollbar{
  background-color: var(--light-orange);
  width: 6px;
  border-radius: 5px;
}


